<div class="container-fluid">
	<div class="data-container">
		<h1>Edit Install</h1>
		<div class="col-xs-6">
			<form class="form">
				<div role="alert" ng-show="svm.formError" class="alert alert-danger">{{ ivm.formError }}</div>
				<div class="form-group">
					<label for="install-time">Enter Install Time: </label>
					<input class="form-control" type="number" id="install-time" name="install-time" placeholder="Enter install time here." ng-model="ivm.currentInstall.time">
				</div>
				<div class="form-group">
					<label for="install-description">Enter Description: </label>
					<input class="form-control" type="text" id="install-description" name="install-description" placeholder="Enter install description here." ng-model="ivm.currentInstall.description">
				</div>
				<div class="form-group">
					<label for="install-hourlycharge">Enter Install Hourly Charge: </label>
					<input class="form-control" type="number" id="install-hourlycharge" name="install-hourlycharge" placeholder="Enter install hourly charge here." ng-model="ivm.currentInstall.hourlycharge">
				</div>
				<div class="form-group">
					<label for="install-cost">Enter Install Cost: </label>
					<input class="form-control" type="number" id="install-cost" name="install-cost" placeholder="Enter install cost here." ng-model="ivm.currentInstall.cost">
				</div>
				<button type="button" class="btn btn-success" ng-click="ivm.submitInstall();">Update</button>
				<button type="button" class="btn btn-danger" ng-click="ivm.showList();">Cancel</button>
			</form>
		</div>
	</div>
	<div class="dialogbox">
	</div>
</div>