<div class="container-fluid">
	<div class="data-container">
		<h1>List of Spiffs</h1>
		<div class="top-margin10">
			<div class="row brow">
				<div class="col-xs-12">
					<form>
						<div class="input-group add-on">
							<input type="text" class="form-control" placeholder="Search..." id="spiff-search" ng-model="svm.searchterm">
						</div>
					</form>
				</div>
			</div>
			<div class="row brow">
				<div class="col-xs-12">
					<button type="button" ng-click="svm.addSpiff();" class="btn btn-success">Add Spiff</button>
				</div>
			</div>
			<div class="row brow">
				<div class="col-xs-12">
					<button type="button" ng-click="svm.importSpiffs();" class="btn btn-primary">Import Spiffs</button>
					<button type="button" ng-click="svm.exportSpiffs();" class="btn btn-primary">Export Spiffs</button>
				</div>
			</div>
			<div class="row shadow productrow" ng-repeat="spiff in svm.spiffs | filter : svm.searchterm">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:5px;">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
						<span>Name</span><br><span style="font-weight:normal;">{{spiff.name}}</span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
						<span>Amount</span><br><span style="font-weight:normal;">${{spiff.amount}}</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" style="padding-top:5px;">
					<button class="btn btn-primary col-xs-12 col-md-6" type="button" ng-click="svm.editSpiff(spiff._id, spiff.name);" style="margin-bottom:5px;">Edit</button>
					<button class="btn btn-danger col-xs-12 col-md-6" type="button" ng-click="svm.deleteSpiff(spiff._id, spiff.name);">Delete</button>
				</div>
			</div>
		</div>
		<div class="dialogbox">
		</div>
	</div>
</div>