<navigation></navigation>

<div class="container-fluid">
	<div class="row pos-container">
		<div class="col-xs-12 col-sm-2 ctrl-container">
			<div class="posbtn-container">
				<button type="button" class="posbtn" ng-click="vm.insertPiece('invoicing');">Invoicing</button>
				<button type="button" class="posbtn" ng-click="vm.insertPiece('reports');">Reports</button>
				<button type="button" class="posbtn" ng-click="vm.insertPiece('products');">Products</button>
				<button type="button" class="posbtn" ng-click="vm.insertPiece('accounts');">Customer Accounts</button>
				<button type="button" class="posbtn" ng-click="vm.insertPiece('userlist');">Users</button>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10 data-container">
			
		</div>
	</div>
</div>
<footer-generic></footer-generic>