<div class="container-fluid">
	<div class="invoice-container" style="padding-bottom:25px;">
		<div class="col-xs-12">
			<h1>Edit Invoice: {{ivm.newinvoice.invoicenumber}}</h1>
		</div>
		<div class="col-xs-12">
			<form class="form" id="invoice-form">
				<div role="alert" ng-show="ivm.formError" class="alert alert-danger">{{ ivm.formError }}</div>
				<div class="row shadow">
					<div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="invoice-firstname">First Name: </label>
							<input class="form-control" type="text" id="invoice-firstname" name="invoice-firstname" placeholder="Customer First Name." ng-model="ivm.newinvoice.account.firstname">
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="invoice-lastname">Last Name: </label>
							<input class="form-control" type="text" id="invoice-lastname" name="invoice-lastname" placeholder="Customer Last Name." ng-model="ivm.newinvoice.account.lastname">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-address">Address: </label>
							<input class="form-control" type="text" id="invoice-address" name="invoice-address" placeholder="Customer Address" ng-model="ivm.newinvoice.account.address">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-city">City: </label>
							<input class="form-control" type="text" id="invoice-city" name="invoice-city" placeholder="Customer City" ng-model="ivm.newinvoice.account.city">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-state">State: </label>
							<input class="form-control" type="text" id="invoice-state" name="invoice-state" placeholder="Customer State" ng-model="ivm.newinvoice.account.state">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-zip">Zip: </label>
							<input class="form-control" type="text" id="invoice-zip" name="invoice-zip" placeholder="Customer Zip" ng-model="ivm.newinvoice.account.zip">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-email">Email: </label>
							<input class="form-control" type="text" id="invoice-email" name="invoice-email" placeholder="Customer Email" ng-model="ivm.newinvoice.account.email">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-phone">Phone: </label>
							<input class="form-control" type="text" id="invoice-phone" name="invoice-phone" placeholder="Customer Phone" ng-model="ivm.newinvoice.account.phone">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-vehiclemake">Vehicle Make: </label>
							<input class="form-control" type="text" id="invoice-vehiclemake" name="invoice-vehiclemake" placeholder="Vehicle Make" ng-model="ivm.newinvoice.vehiclemake">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-vehiclemodel">Vehicle Model: </label>
							<input class="form-control" type="text" id="invoice-vehiclemodel" name="invoice-vehiclemodel" placeholder="Vehicle Model" ng-model="ivm.newinvoice.vehiclemodel">
						</div>
					</div>
					<div class="col-xs-12 col-md-4">
						<div class="form-group">
							<label for="invoice-vehicleyear">Vehicle Year: </label>
							<input class="form-control" type="text" id="invoice-vehicleyear" name="invoice-vehicleyear" placeholder="Vehicle Year" ng-model="ivm.newinvoice.vehicleyear">
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="invoice-vehiclelicense">Vehicle License Plate: </label>
							<input class="form-control" type="text" id="invoice-vehiclelicense" name="invoice-vehiclelicense" placeholder="License Plate" ng-model="ivm.newinvoice.vehiclelicense">
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="form-group">
							<label for="invoice-vehiclevin">Vehicle VIN: </label>
							<input class="form-control" type="text" id="invoice-vehiclevin" name="invoice-vehiclevin" placeholder="License Plate" ng-model="ivm.newinvoice.vehiclevin">
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label for="invoice-taxexempt"><input type="checkbox" style="display:inline-block;height:20px;width:20px;" id="invoice-taxexempt" name="invoice-taxexempt" ng-model="ivm.newinvoice.account.taxexempt"><b> Tax Exempt</b></label>
					</div>
				</div>
				<div class="row indented">
					<button type="button" class="btn btn-primary col-xs-12 col-md-3" ng-click="ivm.addItem();">Add Item</button>
					<button type="button" class="btn btn-primary col-xs-12 col-md-3" ng-click="ivm.addLabor();">Add Labor</button>
					<button type="button" class="btn btn-primary col-xs-12 col-md-3" ng-click="ivm.addOther();">Add Other</button>
					<button type="button" class="btn btn-primary col-xs-12 col-md-3" ng-click="ivm.addSpiff();">Add Spiff</button>
				</div>
				<div id="item-group" class="row shadow" ng-show="ivm.itemCount > 0"><span>Items</span><br></div>
				<div id="labor-group" class="row shadow" ng-show="ivm.laborCount > 0"><span>Labor Charges</span><br></div>
				<div id="other-group" class="row shadow" ng-show="ivm.otherCount > 0"><span>Other Charges</span><br></div>
				<div id="spiff-group" class="row shadow" ng-show="ivm.spiffCount > 0"><span>Spiffs</span><br></div>
				<div class="row shadow">
					<div class="col-xs-12 col-md-4"></div>
					<div class="col-xs-12 col-md-4"></div>
					<div class="col-xs-12 col-md-4">
						<p><b>Totals</b></p>
						<table class="table">
							<tbody>
								<tr>
									<td>Total Item Charges</td>
									<td>${{ivm.newinvoice.itemcharges | number: 2}}</td>
								</tr>
								<tr>
									<td>Total Labor Charges</td>
									<td>${{ivm.newinvoice.laborcharges | number: 2}}</td>
								</tr>
								<tr>
									<td>Total Other Charges</td>
									<td>${{ivm.newinvoice.othercharges | number: 2}}</td>
								</tr>
								<tr>
									<td>Tax ({{ivm.taxrate * 100}}%)</td>
									<td>${{ivm.newinvoice.taxdue | number: 2}}</td>
								</tr>
								<tr>
									<td style="background-color:#efaaaa;">Total Due</td>
									<td style="background-color:#efaaaa;">${{ivm.newinvoice.totalprice | number: 2}}</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td style="background-color:#aaaaef;">Total Spiffs</td>
									<td style="background-color:#aaaaef;">${{ivm.newinvoice.spifftotal | number: 2}}</td>
								</tr>
								<tr ng-if="ivm.taxchange">
									<td colspan="2" style="color:red;">Tax Rate Has Changed Please Update The Invoice!</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div id="button-group" class="row top-margin10 indented">
					<button type="button" class="btn btn-success" ng-click="ivm.submitInvoice();">Update</button>
					<button type="button" class="btn btn-danger" ng-click="ivm.showList();">Cancel</button>
				</div>
			</form>
		</div>
	</div>
	<div class="dialogbox">
	</div>
</div>