<div class="container-fluid">
	<div class="data-container">
		<h1>List of Users</h1>
		<div class="top-margin10">
			<div class="row brow">
				<div class="col-xs-12">
					<form>
						<div class="input-group add-on">
							<input type="text" class="form-control" placeholder="Search..." id="user-search" ng-model="uvm.searchterm">
						</div>
					</form>
				</div>
			</div>
			<div class="row brow">
				<div class="col-xs-12">
					<button type="button" ng-click="uvm.addUser();" class="btn btn-success">Add User</button>
				</div>
			</div>
			<div class="row brow">
				<div class="col-xs-12">
					<button type="button" ng-click="uvm.importUsers();" class="btn btn-primary">Import Users</button>
					<button type="button" ng-click="uvm.exportUsers();" class="btn btn-primary">Export Users</button>
				</div>
			</div>
			<div class="row shadow productrow" ng-repeat="user in uvm.users | filter : uvm.searchterm">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10" style="padding-top:5px;">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
						<span>Name</span><br><span style="font-weight:normal;">{{user.name}}</span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
						<span>Email</span><br><span style="font-weight:normal;">{{user.email}}</span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
						<span>Status</span><br><span style="font-weight:normal;">{{user.status}}</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2" style="padding-top:5px;">
					<button class="btn btn-primary col-xs-12 col-md-6" type="button" ng-click="uvm.editUser(user._id);" style="margin-bottom:5px;">Edit</button>
					<button class="btn btn-danger col-xs-12 col-md-6" type="button" ng-click="uvm.deleteUser(user._id,user.name);">Delete</button>
				</div>
			</div>
		</div>
		<div class="dialogbox">
		</div>
	</div>
</div>