<div class="container-fluid">
	<div class="products-container">
        <h1>List of Customer Accounts</h1>
		<form>
			<div class="input-group add-on">
				<input type="text" class="form-control" placeholder="Search..." id="product-search" ng-model="avm.searchterm">
			</div>
		</form><br>
		<button type="button" ng-click="avm.addAccount();" class="btn btn-success">Create Account</button>
		<div class="top-margin10">
			<div class="row row-border">
				<div class="col-xs-10">
					<div class="col-xs-3">
						<p>Name</p>
					</div>
					<div class="col-xs-3">
						<p>Address</p>
					</div>
					<div class="col-xs-2">
						<p>City</p>
					</div>
					<div class="col-xs-2">
						<p>State</p>
					</div>
					<div class="col-xs-2">
						<p>Phone</p>
					</div>
				</div>
				<div class="col-xs-2">
				</div>
			</div>
			<div class="row row-border productrow" ng-repeat="account in avm.accounts | filter : avm.searchterm" ng-click="avm.readOne(account._id);">
				<div class="col-xs-10" data-toggle="modal" data-target="#accountModal">
					<div class="col-xs-3">
						<p>{{account.firstname}} {{account.lastname}}</p>
					</div>
					<div class="col-xs-3">
						<p>{{account.address}}</p>
					</div>
					<div class="col-xs-2">
						<p>{{account.city}}</p>
					</div>
					<div class="col-xs-2">
						<p>{{account.state}}</p>
					</div>
					<div class="col-xs-2">
						<p>{{account.phone}}</p>
					</div>
				</div>
				<div class="col-xs-2">
					<button class="btn btn-primary" type="button" ng-click="avm.editAccount(account._id);">Edit</button>
					<button class="btn btn-danger" type="button" ng-click="avm.deleteAccount(account._id);">Delete</button>
				</div>
			</div>
		</div>
		<div class="dialogbox">
		</div>

	</div>
</div>

<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="accountModal">{{avm.clickedAccount.firstname}} {{avm.clickedAccount.lastname}}</h4>
      </div>
      <div class="modal-body">
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>First Name:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.firstname}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Last Name:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.lastname}}</p>
      		</div>
      		<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Address:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.address}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>City:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.city}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>State:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.state}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Zip:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.zip}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Email:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.email}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Phone:</p>
      		</div>
      		<div class="col-xs-6">
      			<p>{{avm.clickedAccount.phone}}</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
      	<div class="productattr">
      		<div class="col-xs-6">
      			<p>Tax Exempt:</p>
      		</div>
      		<div class="col-xs-6">
      			<p ng-if="avm.clickedAccount.taxexempt">Yes</p>
      			<p ng-if="!avm.clickedAccount.taxexempt">No</p>
      		</div>
        	<div style="clear:both;"></div>
      	</div>
        <div class="top-margin10">
        <div class="row row-border">
          <div class="col-xs-12">
            <div class="col-xs-2">
              <p>Invoice Number</p>
            </div>
            <div class="col-xs-3">
              <p>Creation Date</p>
            </div>
            <div class="col-xs-3">
              <p>Vehicle</p>
            </div>
            <div class="col-xs-2">
              <p>Total Charge</p>
            </div>
            <div class="col-xs-2">
              <p>Bill Status</p>
            </div>
          </div>
        </div>
        <div class="row row-border productrow" ng-repeat="invoice in avm.currentInvoices">
          <div class="col-xs-12">
            <div class="col-xs-2">
              <p>{{invoice.invoicenumber}}</p>
            </div>
            <div class="col-xs-3">
              <p>{{invoice.datecreated}}</p>
            </div>
            <div class="col-xs-3">
              <p>{{invoice.vehicleyear}}, {{invoice.vehiclemake}} {{invoice.vehiclemodel}}</p>
            </div>
            <div class="col-xs-2">
              <p>${{invoice.totalprice}}</p>
            </div>
            <div class="col-xs-2">
              <p ng-if="invoice.paid" style="color:#0a0;">Paid</p>
              <p ng-if="!invoice.paid" style="color:#a00;">Unpaid</p>
            </div>
          </div>
        </div>
      </div>
        <div style="clear:both;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>